<h1>All Recipes</h1>

<%= will_paginate %>

<% @recipes.each do |recipe| %>
  <div class = 'row'>
    <div class = 'col-md-2'>
      <section class = 'chef_info center'>
        <%= link_to chef_path(recipe.chef) do %>
          <h5>Chef Name: <%= recipe.chef.chefname %></h5>
        <% end %>
      </section>
    </div>

    <div class = 'col-md-6 well'>
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= recipe.summary %></p>

      <p>
        <span class = 'quiet'>
          <strong>Create:</strong> <small><%= time_ago_in_words(recipe.created_at) %> ago</small>,
          &nbsp&nbsp&nbsp
          <strong>Updated:</strong> <small><%= time_ago_in_words(recipe.updated_at) %> ago</small>
        </span>
      </p>

      <%= render 'likes', obj: recipe %>

    </div>

    <div class = 'col-md-4'>
      <%= image_tag(recipe.picture.url, size: '250x150', class: 'gravatar') if recipe.picture? %>
    </div>

  </div> 

<% end %>

<%= will_paginate %>